PORT=3333
DB_HOST=piservidordb.mysql.database.azure.com
DB_USER=adminServidor
DB_PASSWORD=Servidor123@!
DB_NAME=almaa
DB_PORT=3306
DB_SSL=true
JWT_SECRET=16159a36e4925d26cfc75f45bb2239691bf34123ccc2f6aee03b9d08abf32e76716ae31fce79c9989043907c05ca35ad
CORS_ORIGIN=http://localhost:5173,http://localhost:4173,https://projeto7-qtelquwcq-matheus-projects-3507c909.vercel.app,https://*.vercel.app


